/* Font style*/


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sigmar&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');


/* reset pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



img {
    max-width: 100%;
}

/* Css variables */

:root
{
--dis-page-bg: #191d7b;
--dis-card-bg: #5d64d1;
--dis-primary-btn: #5865f2;
--dis-black: black;
--dis-white: white;
}


body {
    background-color: var(--dis-page-bg);
    width: 512px;
    font-family: "DM Sans", sans-serif;
}

/*  Main */

main {
    padding: 4rem 30px;
}

.jumbotron {
    text-align: center;
    padding: 0 2rem;
    color: var(--dis-white);
}
   

h1 {
    text-transform: uppercase;
    font-family: "Sigmar", sans-serif;
    line-height: 1;
    font-size: 40px;
    margin: 1rem 0;
    font-weight: 500;
    
}

.btn {
    display: block;
    width: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 1rem 2rem;
    margin: 1rem 0;
    font-size: 18px;
    text-decoration: none;
    border-radius: 1rem;
}


.btn-light {
    background-color: var(--dis-white);

}

.btn-primary {
    background-color: var(--dis-primary-btn);
    color: var(--dis-white);
    
}