/* Font style*/


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sigmar&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');


/* reset pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



img {
    max-width: 100%;
}

/* Css variables */

:root
{
--dis-page-bg: #191d7b;
--dis-card-bg: #5d64d1;
--dis-primary-btn: #5865f2;
--dis-black: black;
--dis-white: white;
}


body {
    background-color: var(--dis-page-bg);
    width: 512px;
}

